<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link href="css/style.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header class="header-main">
        <section class="section-header-main">
            <div>
                <img src="/image/logo-mercado-liebre.svg" alt="Logo de Mercado Libre" class="logo-main"/>
            </div>
            <div>
                <i class="fa fa-search"></i>
                <input type="search" id="search" placeholder="Buscar..." class="search" />
            </div>
            <br>
            <div class="subtitle-one">
                <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito
            </div>
        </section>
        <nav class="link-site">
            <ul>
                <li Class="margen"><a href="#">Ofertas</a></li>
                <li Class="margen"><a href="#">Tiendas Oficiales</a></li>
                <li Class="margen"><a href="#">Vender</a></li>
                <li class="margen"><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li class="margen"><a href="/login">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li class="margen"><a href="/register">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="margen"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <img width="100%" height="40%" src="/image/home-banner.jpg" alt="imagen del banner" class="banner-img">
    </section>
    <main class="main-main">
        <h2 class="subtitle">Basado en tu última visita</h2>
        <section class="parent-container">
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/cafetera-moulinex.jpg"
                        alt="Cafetera blanca y roja de diseño moderno, haciendo un cafe expreso en capas" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$6.770</div>
                    <div class="discounts">40% OFF</div>
                    </div>
                    <h3 class="descriptions">Cafetera Moulinex</h3>
                </article>
            </article>
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/macbook-pro-2019.jpg"
                        alt="Laptop moderna, con un fondo de escritorio vacio y colorido" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$230.000</div>
                    <div class="discounts">20% OFF</div>
                    <h3 class="descriptions">MacBook Pro 2019</h3>
                </article>
            </article>
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/samsung-galaxy-s10.jpg"
                        alt="Celular levente inclinado hacia la derecha, con pantalla de bordes chanfleados" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$70.500</div>
                    <div class="discounts">10% OFF</div>
                    <h3 class="descriptions">Samsung Galaxy S10</h3>
                </article>
            </article>
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/tv-samsung-smart.jpg"
                        alt="Televisor inteligente, con un marco realmente fino, predominando en la pantalla un atardecer" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$23.200</div>
                    <div class="discounts">5% OFF</div>
                    <h3 class="descriptions">SmartTv Samsung 43"</h3>
                </article>
            </article>
        </section>
        <br>
        <h2 class="subtitle">Ofertas</h2>
        <section class="parent-container">
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/cafetera-moulinex.jpg"
                        alt="Cafetera blanca y roja de diseño moderno, haciendo un cafe expreso en capas" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$6.770</div>
                    <div class="discounts">40% OFF</div>
                    <h3 class="descriptions">Cafetera Moulinex</h3>
                </article>
            </article>
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/macbook-pro-2019.jpg"
                        alt="Laptop moderna, con un fondo de escritorio vacio y colorido" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$230.000</div>
                    <div class="discounts">20% OFF</div>
                    <h3 class="descriptions">MacBook Pro 2019</h3>
                </article>
            </article>
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/samsung-galaxy-s10.jpg"
                        alt="Celular levente inclinado hacia la derecha, con pantalla de bordes chanfleados" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$70.500</div>
                    <div class="discounts">10% OFF</div>
                    <h3 class="descriptions">Samsung Galaxy S10</h3>
                </article>
            </article>
            <article class="article-items">
                <div class="align-image">
                    <img width="90%" height="20%" src="/image/tv-samsung-smart.jpg"
                        alt="Televisor inteligente, con un marco relamente fino, predominando en la pantalla un atardecer" />
                </div>
                <article class="descriptions-items">
                    <i class="fas fa-truck"></i>
                    <br>
                    <div class="price">$23.200</div>
                    <div class="discounts">5% OFF</div>
                    <h3 class="descriptions">SmartTv Samsung 43"</h3>
                </article>
            </article>
        </section>
    </main>
    <br>
    <footer class="footer-botton">
        <div class="icono"><i class="fas fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</p>
        <div class="icono"><i class="fas fa-gift"></i></div>
        <h3>Envío gratis desde los $2500</h3>
        <p>Envío por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</p>
        <div class="icono"><i class="fas fa-user-shield"></i></div>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
        <p>Copyrigth © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>




















</body>

</html>